.alert-box {
  width: 90%;
  padding: 20px;
  background-color: skyblue;
  border-radius: 5px;
  line-height: 40px;
  font-size: 25px;
  font-weight: bold;
  visibility: hidden;
  margin-bottom: 10px;
}

.alert-box div {
  margin-bottom: 10px;
}

.alert-box button {
  width: 60px;
  height: 35px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;

  transition: background-color, color, 0.3s;
}

.alert-box button:hover {
  background-color: black;
  color: white;
  cursor: pointer;

  transition: background-color, color, 0.3s;
}
